<launch>

        <arg name="ip" default="134.100.10.173" />
	<arg name="port" default="9559" />
	<arg name="namespace" default="pepper" />

	<include file="$(find naoqi_driver_py)/launch/naoqi_driver.launch">
		<arg name="nao_ip" value="$(arg ip)" />
	</include>

	<include file="$(find pepper_sensors_py)/launch/camera.launch" ns="$(arg namespace)/camera/front" >
		<arg name="nao_ip" value="$(arg ip)" />
		<arg name="source" value="0" />
		<arg name="resolution" value="2" />
		<arg name="color_space" value="11" />
		<arg name="frame_rate" value="30" />
		<arg name="use_ros_time" value="False" />
	</include>

</launch>
